{% extends 'base.html' %}

{% block content %}
    <h1>@{{ username }}</h1>
    <h3>{{ object.name }}</h3>
    {% if user.username == username %}
        <a href="{% url 'accounts:update' user %}" class="btn btn-success">Edit profile</a>
    {% elif connected %}
    <a href="{% url 'accounts:unfollow' username %}" class="btn btn-success">Unfollow</a>
    {% else  %}
        <a href="{% url 'accounts:follow' username %}" class="btn btn-primary">Follow</a>
    {% endif %}
    <a href="{% url 'accounts:followers' username %}">followers: {{ followers }}</a>
    <a href="{% url 'accounts:following' username %}">following: {{ following }}</a>

    {% for post in posts %}
        {% include 'posts/post.html' %}
    {% endfor %}
{% endblock %}
