
{% load static %}

<ul> 
	{% if request.user.is_authenticated %}
		<li>
			Hello, {{request.user.username}}
		</li>
		<br>
		<li>
			<a href="{% url 'logout' %}">Logout</a>
		</li>
	{% else %}
		<li>
			<a href="{% url 'login' %}">Login</a>
		</li>
		<li>
			<a href="{% url 'signup' %}">Sign Up</a>
		</li>
	{% endif %}
</ul>

<div>
	<a href="{% url 'new_post' %}">Share My Life</a>
</div>

<div>
    {% for post in object_list %}
    	<a href="{% url 'postdetail' post.id %}">
        	<img src="/{{post.image}}">
    	</a>
    {% endfor %}
</div>